{% extends "main.html" %}

{% block title %}About Us - MyBlogs{% endblock %}

{% block content %}
<div class="container-custom " style="margin-bottom: 330px;">
    <h3>About MyBlogs</h3>
    <p>Welcome to MyBlogs! This platform allows you to explore posts on a wide range of topics including technology, sports, countries, and more.</p>
    
    <p>Our mission is to provide a space for writers and readers to share knowledge and insights on various subjects.</p>

    <p>Thank you for visiting. Stay tuned for new content!</p>
</div>
{% endblock %}
